body {
  text-align: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 1.5em auto;
  text-align: center;
}

img, video {
  border-radius: 6px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #0000ee;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #0000ee;
}

a:hover {
  display: inline-block;
  color: #ffffff;
  background: linear-gradient(to left, #00dbde 0%, #fc00ff 50%, #00dbde 100%);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center; } 
}

#mainflex {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  overflow: visible;
}

.items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
}

#row3 {
  width: 1900px;
  
}

.item {
  margin: 25px;
}
